---
---

<section class="pricing-hero">
	<h1>ThingsBoard Products Pricing</h1>
</section>

<style lang="scss" is:global>
	@use '../../styles/variables' as *;

	.pricing-hero {
		text-align: center;
		padding: $spacing-4 0 $spacing-8;

		h1 {
			@include page-title;
			color: var(--color-text);
			margin: 0;
		}
	}
</style>
