---
import { Products } from '~/models/site.models';

interface Props {
	product: Products;
	controller: string;
}

const { product, controller } = Astro.props;
const host = product === Products.PAAS_EU ? 'eu.thingsboard.cloud' : 'thingsboard.cloud';
const href = `https://${host}/swagger-ui/index.html#/${controller}`;
---

<a href={href} target="_blank" rel="noopener noreferrer"><code>{controller}</code></a>
